/* Styling/Positioning  */

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6 !important;
    margin: 0;
    padding: 0;
}

/* .pill-icon { 
    position: absolute;
    left: 0; 
    margin-left: 405px;
    margin-top: -18px;
} */

h1 {
    text-align: center;
    position: absolute;
    top: 5%; 
    left: 50%; 
    transform: translateX(-50%);
    color: #1c2b8f !important;
    font-family:'Geologica', sans-serif;
    background-color: transparent;
    padding: 0;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(85, 82, 82, 0.5);
}

h3 {
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%,-50%)
    color: #052a8f !important;
    font-family:'Geologica', sans-serif;
    background-color: transparent;
    padding: 0;
    text-transform: capitalize;

}

 /* #button1 {
    position: absolute;
    top: 20%; 
    left: 10%; 
    transform: translateY(-50%);
} */
/* 
#button2 {
    position: absolute;
    top: 25%; 
    left: 10%; 
    transform: translateY(-50%);
} */

#sex-menu { 
    position: absolute;
    top: 40%; 
    left: 10%; 
    transform: translateY(-50%); 
}

#age-menu { 
    position: absolute;
    top: 40%; 
    left: 30%; 
    transform: translateY(-50%); 
} 

.content-wrapper-about {
    position: absolute; 
    height: 50vh; 
    width: 300px;
    top: 10%;
    right: 5%;
    font-family: 'Geologica', sans-serif;
    font-weight: 500
}

.content-wrapper-accuracy {
    position: absolute; 
    height: 50vh; 
    width: 300px;
    top: 50%;
    right: 5%;
    font-family: 'Geologica', sans-serif;
    font-weight: 500
}

.about_text {
    position: absolute;
    top: 10%;
    right: 5%;
    bottom: 20%;
    width: 300px; 
    background-color: #7497ea; 
    padding: 20px; 
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.36); 
    border-radius: 10px;
}

.model_accuracy_text {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 20%;
    width: 300px; 
    background-color: #ec6359; 
    padding: 20px; 
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.36); 
    border-radius: 10px;
}

.calculator-text {
    margin-left: 50px; 
    background-color: #a7cfdfd8;
    padding: 20px;
    width: 500px;
    height: 75vh; 
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.36);
    border-width: 2px;
    border-color: #052a8f;
}


/* INCASE WE WANT TO CHANGE TOOLTIP COLOR::
    - need to override bootstraps default tooltip CSS:
        .tooltip.bs-tooltip-bottom,
        .tooltip.bs-tooltip-top,
        .tooltip.bs-tooltip-start,
        .tooltip.bs-tooltip-end {
        border: none !important;

    - then adjust tooltip class below
.tooltip {
    width: max-content;
    background: #222;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;
    border-width: 2px;
  } */

