<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <!-- Include Bootstrap CSS (assuming you're using Bootstrap for styling) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>Prediction Result</h1>
    {% if result == 'Approved' %}
        <button type="button" class="btn btn-success">COVERED</button>
    {% elif result == 'Denied' %}
        <button type="button" class="btn btn-danger">REJECTED</button>
    {% endif %}
</div>

</body>
</html>