<!DOCTYPE html>
<html lang="en">  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Style.CSS-->
 <link rel="stylesheet" type="text/css" href="static/style.css">
  <!-- BootStrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="bootstrap" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
  <!-- Google Fonts -->
  <link rel="static/stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap" rel="static/stylesheet">
  <!-- Favicon image-->
  <link rel="icon" type="image/png" sizes="32x32" href="static/pill_ideal.png">
  
  
  <img class="pill-icon" src="static/pill.png" alt="blue-red-pill" width="64" height="64">
  <title>Tx 2 Dx MATCHMAKER</title>
  


</head>
<body>
  
  <h1 data-bs-toggle="tooltip" title="Machine Learning Insights into Treatment and Diagnosis">Tx 2 Dx MATCHMAKER </h1>
  <button id="button1" data-bs-toggle="tooltip" title="BOO!">button1</button>
    <div class="tooltip" role="tooltip"></div>

  <button id="button2" data-bs-toggle="tooltip" title="mama">button2</button>
  <div class="tooltip" role="tooltip"></div>

  <div class="container mt-5 dropdown">
  <button id="name-menu1" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Drop Down 1</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Yasmin1</a></li>
      <li><a class="dropdown-item" href="#">Merve1</a></li>
      <li><a class="dropdown-item" href="#">Allan1</a></li>
      <li><a class="dropdown-item" href="#">Qudsia1</a></li>
    </ul>
  </div>
  
  <button id="name-menu2" class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Drop Down 2</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Yasmin2</a></li>
      <li><a class="dropdown-item" href="#">Merve2</a></li>
      <li><a class="dropdown-item" href="#">Allan2</a></li>
      <li><a class="dropdown-item" href="#">Qudsia2</a></li>
    </ul>
  
  
  <div class="content-wrapper-about">
    
    <div class="about_text">
      <div>About</div>
    </div>
  </div>

  <div class="content-wrapper-accuracy">
    
    <div class="model_accuracy_text">
      <div>Model Accuracy</div>
    </div>
  </div>



  <!-- jQuery framework-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!-- Popper.JS/Floating UI framework-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" crossorigin="anonymous"></script>
  <!-- BootStrap JS framework -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- local bootstrap.js file-->
  <script src="bootstrap.js"></script>
</body>




</html>