<!DOCTYPE html>
<html lang="en">  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Style.CSS-->
 <link rel="stylesheet" type="text/css" href="static/style.css">
  <!-- BootStrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="bootstrap" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
  <!-- Google Fonts -->
  <link rel="static/stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap" rel="static/stylesheet">
  <!-- Favicon image-->
  <link rel="icon" type="image/png" sizes="32x32" href="static/pill_ideal.png">
  
  
  <img class="pill-icon" src="static/pill.png" alt="blue-red-pill" width="64" height="64">
  <title>ClaimSights</title>
  


</head>
<body>
  
  <div class="slogan">
  <h1 data-bs-toggle="tooltip" title="Machine Learning Foresights into Health Insurance Claims"><b><em>ClaimSights</em></b></h1>
  <h5 class="description"><em>Machine Learning Foresights into Health Insurance Claims</em></h5>
  </div>
 
  <div class="content-wrapper-about">
    
    <div class="about_text">
      <div><b>About</b><br>
        <br>
        This site features a model that predicts
        wether your insurance claim would be
        accepted or rejected, based on your Sex, 
        Age group and diagnosis type!

      </div>
    </div>
  </div>

  <div class="content-wrapper-accuracy">
    
    <div class="model_accuracy_text">
      <div><b><em>"I don't know my diagnosis code"</em></b><br>
        <br>
        Not sure of which listed code
        matches your diagnosis type? 
        Click below to view a list of the diagnosis 
        code's and their descriptions.
        <br>
        <br>
        <button id="next-page-button" data-bs-toggle="tooltip" title="Click me!" onclick="nextPage()">View List</button>
        <div class="tooltip" role="tooltip"></div>


      </div>
    </div>
  </div>

    <div class="calculator-wrapper">
      <div class="calculator-text">
        <div style="text-align: center;">
          <b>TRY NOW</b>
          <br>
          <br>
          Fill in your general information below by selecting the corresponding options, 
          and instantly find out if your insurance claim would likely be paid ('COVERED') 
          or not ('REJECTED')
          <div class="container mt-5 dropdown">
          <button id="age-menu" class="btn btn-primary" type="button" data-bs-toggle="dropdown" 
          aria-haspopup="true" data-bs-toggle="tooltip" title="Select your Age Range"
          aria-expanded="false" onclick="updateButtonText('age-menu', 'Age')">Age</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '0-15')">0-15</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '16-25')">16-25</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '26-45')">26-45</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '46-65')">46-65</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '66+')">66+</a></li>
    </ul>
          </div>
        </div>
        <div class="container mt-5 dropdown">
          <button id="sex-menu" class="btn btn-primary dropdown-toggle"
           type="button" data-bs-toggle="dropdown" aria-haspopup="true"
            data-bs-toggle="tooltip" title="Select your Sex"
            aria-expanded="false" onclick="updateButtonText('sex-menu', 'Sex')">Sex</button>
                  
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" onclick="updateButtonText('sex-menu', 'Female')">Female</a></li>
              <li><a class="dropdown-item" href="#" onclick="updateButtonText('sex-menu', 'Male')">Male</a></li>
            </ul>
        </div>
        <div class="container mt-5 dropdown">
          <button id="diag-code-menu" 
          class="btn btn-primary dropdown-toggle" 
          type="button" data-bs-toggle="dropdown" 
          aria-haspopup="true" data-bs-toggle="tooltip" 
          style="margin-left:220px; margin-top: -25px;" 
          title="Select your matching Diagnosis Code"
          aria-expanded="false">Diagnosis Code</button>
          
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">A</a></li>
                <li><a class="dropdown-item" href="#">B</a></li>
                <li><a class="dropdown-item" href="#">C</a></li>
                <li><a class="dropdown-item" href="#">D</a></li>
                <li><a class="dropdown-item" href="#">E</a></li>
                <li><a class="dropdown-item" href="#">F</a></li>
                <li><a class="dropdown-item" href="#">G</a></li>
                <li><a class="dropdown-item" href="#">H</a></li>
                <li><a class="dropdown-item" href="#">I</a></li>
                <li><a class="dropdown-item" href="#">J</a></li>
                <li><a class="dropdown-item" href="#">K</a></li>
                <li><a class="dropdown-item" href="#">L</a></li>
                <li><a class="dropdown-item" href="#">M</a></li>
                <li><a class="dropdown-item" href="#">N</a></li>
                <li><a class="dropdown-item" href="#">O</a></li>
                <li><a class="dropdown-item" href="#">P</a></li>
                <li><a class="dropdown-item" href="#">Q</a></li>
                <li><a class="dropdown-item" href="#">R</a></li>
                <li><a class="dropdown-item" href="#">S</a></li>
                <li><a class="dropdown-item" href="#">T</a></li>
                <li><a class="dropdown-item" href="#">U</a></li>
                <li><a class="dropdown-item" href="#">V</a></li>
                <li><a class="dropdown-item" href="#">Z</a></li>


            </ul>

        </div>
          <br>
          <br>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Get Results</button>
          </div>
<br>
<br>
<br>
          <button type="button" class="btn btn-secondary result" style="margin-left:200px;">...</button>

      </div>
   
    </div>


  <!-- jQuery framework-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!-- Popper.JS/Floating UI framework-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" crossorigin="anonymous"></script>
  <!-- BootStrap JS framework -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- local bootstrap.js file-->
  <script src="static/bootstrap.js"></script>
</body>




</html>