<!DOCTYPE html>
<html lang="en">  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Style.CSS-->
 <link rel="stylesheet" type="text/css" href="static/style.css">
  <!-- BootStrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link rel="static/stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap" rel="static/stylesheet">
  <!-- Favicon image-->
  <link rel="icon" type="image/png" sizes="32x32" href="static/pill_ideal.png">
  
  
  <title>ClaimSights</title>
  


</head>
<body>
  
  <div class="slogan">
  <h1 data-bs-toggle="tooltip" title="Machine Learning Foresights into Health Insurance Claims"><b><em>ClaimSights</em></b></h1>
  <h5 class="description"><em>Machine Learning Foresights into Health Insurance Claims</em></h5>
  <img class="pill-icon" src="static/pill.png" alt="blue-red-pill" width="64" height="64">

</div>
 
  <div class="content-wrapper-about">
    <div class="about_text">
      <div><b>About</b><br>
        <br>
        This site features a model that predicts
        wether your insurance claim would be
        accepted or rejected, based on your Sex, 
        Age group and diagnosis type!

      </div>
    </div>
  </div>

  <div class="content-wrapper-accuracy">
    <div class="model_accuracy_text">
      <div><b><em>"I don't know my diagnosis code"</em></b><br>
        <br>
        Not sure of which listed code
        matches your diagnosis type? 
        Click below to view a list of the diagnosis 
        code's and their descriptions.
        <br>
        <br>
        <button id="next-page-button" data-bs-toggle="tooltip" title="Click me!" onclick="nextPage()">View List</button>
        <div class="tooltip" role="tooltip"></div>


      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="calculator-wrapper">
      <div class="calculator-text">
        <div style="text-align: center;">
          <b>TRY NOW</b>
          <br>
          <br>
          Fill in your general information below by selecting the corresponding options, 
          and instantly find out if your insurance claim would likely be paid ('COVERED') 
          or not ('REJECTED')
          <div class="container mt-5 dropdown">
          <button id="age-menu" class="btn btn-primary" type="button" data-bs-toggle="dropdown" 
          aria-haspopup="true" data-bs-toggle="tooltip" title="Select your Age"
          aria-expanded="false" onclick="updateButtonText('age-menu', 'Age')">Age</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '1')">1</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '2')">2</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '3')">3</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '4')">4</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '5')">5</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '6')">6</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '7')">7</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '8')">8</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '9')">9</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '10')">10</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '11')">11</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '12')">12</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '13')">13</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '14')">14</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '15')">15</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '16')">16</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '17')">17</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '18')">18</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '19')">19</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '20')">20</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '21')">21</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '22')">22</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '23')">23</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '24')">24</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '25')">25</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '26')">26</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '27')">27</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '28')">28</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '29')">29</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '30')">30</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '31')">31</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '32')">32</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '33')">33</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '34')">34</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '35')">35</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '36')">36</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '37')">37</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '38')">38</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '39')">39</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '40')">40</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '41')">41</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '42')">42</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '43')">43</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '44')">44</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '45')">45</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '46')">46</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '47')">47</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '48')">48</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '49')">49</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '50')">50</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '51')">51</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '52')">52</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '53')">53</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '54')">54</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '55')">55</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '56')">56</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '57')">57</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '58')">58</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '59')">59</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '60')">60</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '61')">61</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '62')">62</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '63')">63</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '64')">64</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '65')">65</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '66')">66</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '67')">67</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '68')">68</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '69')">69</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '70')">70</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '71')">71</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '72')">72</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '73')">73</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '74')">74</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '75')">75</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '76')">76</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '77')">77</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '78')">78</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '79')">79</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '80')">80</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '81')">81</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '82')">82</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '83')">83</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '84')">84</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '85')">85</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '86')">86</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '87')">87</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '88')">88</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '89')">89</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '90')">90</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '91')">91</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '92')">92</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '93')">93</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '94')">94</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '96')">96</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '97')">97</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '100')">100</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '101')">101</a></li>
      <li><a class="dropdown-item" href="#" onclick="updateButtonText('age-menu', '104')">104</a></li>
    </ul>
          </div>
        </div>
        <div class="container mt-5 dropdown">
          <button id="sex-menu" class="btn btn-primary dropdown-toggle"
           type="button" data-bs-toggle="dropdown" aria-haspopup="true"
            data-bs-toggle="tooltip" title="Select your Sex"
            aria-expanded="false" onclick="updateButtonText('sex-menu', 'Sex')">Sex</button>
                  
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" onclick="updateButtonText('sex-menu', 'Female')">Female</a></li>
              <li><a class="dropdown-item" href="#" onclick="updateButtonText('sex-menu', 'Male')">Male</a></li>
            </ul>
        </div>
        <div class="container mt-5 dropdown">
          <button id="diag-code-menu" 
          class="btn btn-primary dropdown-toggle" 
          type="button" data-bs-toggle="dropdown" 
          aria-haspopup="true" data-bs-toggle="tooltip" 
          style="margin-left:220px; margin-top: -25px;" 
          title="Select your matching Diagnosis Code" aria-expanded="false" 
          onclick="updateButtonText('diag-code-menu', 'Diagnosis Code')">Diagnosis Code</button>
          
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'A0')">A0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'A1')">A1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'A4')">A4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'A5')">A5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'A8')">A8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'A9')">A9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'B0')">B0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'B2')">B2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'B3')">B3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'B4')">B4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'B5')">B5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'B6')">B6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'B9')">B9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'C0')">C0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'C1')">C1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'C4')">C4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'C5')">C5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'C6')">C6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'C7')">C7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'C8')">C8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'D0')">D0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'D1')">D1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'D2')">D2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'D3')">D3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'D4')">D4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'D5')">D5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'D6')">D6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'D7')">D7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'E0')">E0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'E1')">E1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'E2')">E2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'E5')">E5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'E6')">E6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'E7')">E7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'E8')">E8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'F1')">F1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'F2')">F2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'F3')">F3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'F4')">F4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'G0')">G0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'G2')">G2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'G3')">G3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'G4')">G4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'G5')">G5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'G6')">G6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'G8')">G8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'G9')">G9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H0')">H0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H1')">H1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H2')">H2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H3')">H3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H4')">H4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H5')">H5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H6')">H6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H7')">H7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H8')">H8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'H9')">H9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I0')">I0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I1')">I1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I2')">I2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I3')">I3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I4')">I4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I5')">I5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I6')">I6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I7')">I7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I8')">I8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'I9')">I9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'J0')">J0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'J1')">J1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'J2')">J2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'J3')">J3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'J4')">J4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'J8')">J8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'J9')">J9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K0')">K0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K1')">K1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K2')">K2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K3')">K3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K4')">K4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K5')">K5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K6')">K6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K7')">K7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K8')">K8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'K9')">K9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L0')">L0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L2')">L2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L3')">L3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L4')">L4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L5')">L5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L6')">L6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L7')">L7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L8')">L8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'L9')">L9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M0')">M0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M1')">M1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M2')">M2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M3')">M3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M4')">M4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M5')">M5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M6')">M6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M7')">M7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M8')">M8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'M9')">M9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N1')">N1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N2')">N2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N3')">N3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N4')">N4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N5')">N5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N6')">N6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N7')">N7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N8')">N8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'N9')">N9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'O0')">O0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'O1')">O1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'O2')">O2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'O3')">O3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'O4')">O4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'O6')">O6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'O7')">O7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'O9')">O9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'R5')">R5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'R6')">R6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'R7')">R7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'R8')">R8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'R9')">R9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S0')">S0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S1')">S1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S2')">S2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S3')">S3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S4')">S4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S5')">S5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S6')">S6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S7')">S7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S8')">S8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'S9')">S9</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'T1')">T1</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'T2')">T2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'T3')">T3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'T5')">T5</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'T6')">T6</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'T7')">T7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'T8')">T8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'U0')">U0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'V2')">V2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'Z0')">Z0</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'Z2')">Z2</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'Z3')">Z3</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'Z4')">Z4</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'Z7')">Z7</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'Z8')">Z8</a></li>
                <li><a class="dropdown-item" href="#" onclick="updateButtonText('diag-code-menu', 'Z9')">Z9</a></li>

            </ul>

        </div>
          <br>
          <br>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Get Results</button>
          </div>
<br>
<br>
<br>
          <button type="button" class="btn btn-secondary result" style="margin-left:200px;">...</button>

      </div>
   
    </div>


  <!-- jQuery framework-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!-- Popper.JS/Floating UI framework-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" crossorigin="anonymous"></script>
  <!-- BootStrap JS framework -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- local bootstrap.js file-->
  <script src="static/bootstrap.js"></script>
</body>




</html>